<%- include('template/header') -%>

<div class="content-wrapper">
    <div class="container">
        <div class="row mb-lg-3">
            <div class="col-lg-10">
                <p style="font-size: small;"><strong>Cars </strong><i class="bi bi-chevron-right"></i><strong> <a
                            href="/" style="color: black;text-decoration: none;"> List Car </a></strong><i
                        class="bi bi-chevron-right"></i> <%= title %></p>
            </div>
        </div>
        <div class="row mb-lg-3">
            <h4 style="font-weight: bold;"><%= title %></h4>
            <div class="container"><br>
                <div class="card">
                    <div class="card-body">
                        <form action="listcar" method="post">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Nama<span
                                        style="color: red;">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" id="name" class="form-control" placeholder="Avanza">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Sewa Per Hari<span
                                        style="color: red;">*</span></label>
                                <div class="col-sm-5">
                                    <input type="text" id="price" class="form-control" placeholder="Rp 0-,">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Ukuran<span
                                        style="color: red;">*</span></label>
                                <div class="col-sm-5">
                                    <select id="size" class="form-select" aria-label="Default select example">
                                        <option value="1" selected>Small</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Large</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Foto<span
                                        style="color: red;">*</span></label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="file" id="attachment" placeholder="https://placeimg.com/640/480/any">
                                    <span style="font-size: small;">File size max. 2MB</span>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-lg-3">
            <div class="container">
                <div class="col position-absolute bottom-0 start-25 mb-2">
                    <a href="/" class="btn btn-outline-primary">Cancel</a>
                    <button id="submit" type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const api = axios.create({
        baseURL: 'http://localhost:8000'
    })

    let id = '<%= id %>';
    let name = document.getElementById("name")
    let price = document.getElementById("price")
    let size = document.getElementById("size")
    let attachment = document.getElementById("attachment")
    let submit = document.getElementById("submit")
    let uploadedUrl = ""

    attachment.onchange = function (e) {
        uploadFile(e.target.files[0])
        e.target.value = null
    }

    submit.onclick = function (e) {
        e.preventDefault();
        if (id) {
            updateCar();

        } else {
            createCar()
        }

    }

    function createCar() {
        api.post("/api/v1/cars", {
            name: name.value,
            price: price.value,
            size_id: parseInt(size.value),
            photo: uploadedUrl,
        })
        .then(response => {
            window.location.href = '/';
        })

    }

    function updateCar() {
        api.put(`/api/v1/cars/:${id}`, {
            name: name.value,
            price: price.value,
            size_id: parseInt(size.value),
            photo: uploadedUrl,
        })
        .then(response => {
            window.location.href = '/';
        })
    }


    function uploadFile(fileData) {
        let form = new FormData
        form.append("attachment", fileData)
        api.post("/api/v1/cars-upload", form, {
            "content-type": "multipart/form-data"
        }).then(res => {
            uploadedUrl = res.data.url

        })
    }
</script>

<%- include('template/footer') -%>