<%- include('template/header') -%>
    <div class="content-wrapper">
        <div class="container">
            <div class="row mb-lg-3">
                <div class="col-lg-10">
                    <p style="font-size: small;"><strong>Cars </strong><b><i class="bi bi-chevron-right"></i></b> List
                        Car</p>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-10">
                    <h4 style="font-weight: bold;">List Car</h4>
                </div>
                <div class="col-lg-2">
                    <a href="/form" class="btn btn-primary" style="background-color:#0D28A6;"><i
                            class="bi bi-plus-lg"></i> Add New Car</a>
                </div>
                <div class="button-list">
                    <a href="#" class="btn btn-primary active me-3" onclick="sizeFilter(0)" role="button" data-bs-toggle="button"
                        aria-pressed="true">All</a>
                    <a href="#" class="btn btn-primary me-3" onclick="sizeFilter(1)" role="button" data-bs-toggle="button"
                        aria-pressed="false">Small</a>
                    <a href="#" class="btn btn-primary me-3" onclick="sizeFilter(2)" role="button" data-bs-toggle="button"
                        aria-pressed="false">Medium</a>
                    <a href="#" class="btn btn-primary me-3" onclick="sizeFilter(3)" role="button" data-bs-toggle="button"
                        aria-pressed="false">Large</a>
                </div>
            </div>
            <div class="row listcars">
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const api = axios.create({
            baseURL: "http://localhost:8000",
        });

        let size = 0;

        function sizeFilter(size_id) {
            size = size.id
            getListCars()
        }

        async function getListCars() {
            const car = await api.get("/api/v1/cars")
            let listcars = document.querySelector(".listcars")
            let listcar = ""
            const listFromDb = car.data

        if (size == 0) {
            for (let i in listFromDb) {
                listcar += `<div class="col-lg-4 d-flex justify-content-center ">
                            <div class="card" style="width: 25rem;margin-top: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <img src="${listFromDb[i].photo}" alt="mobil" width="100%" height="100%">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>${listFromDb[i].name}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><b>Rp ${rupiah(listFromDb[i].price)} / hari</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><i class="bi bi-clock"></i>
                                                Updated at ${new Date(listFromDb[i].updatedAt)}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 d-flex justify-content-center">
                                            <button class="btn btn-outline-danger" style="width :100%;padding: 10%;" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                <i class="bi bi-trash3"></i> Delete</button>
                                        </div>
                                        <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                    <div class="modal-body">
                                                        <center><img src="/images/medium-vehicle.svg" alt="">
                                                        <h5 class="mt-3 mb-3"><strong>Menghapus Data Mobil</strong></h5>
                                                        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                            <button type="button" onclick="deleteCar(${listFromDb[i].id})" class="btn btn-primary">Ya</button>
                                                            <a href="/" class="btn btn-outline-primary" aria-label="Close">Tidak</a>
                                                        </center>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                        <div class="col-lg-6 d-flex justify-content-center">
                                            <a href="/form/${listFromDb[i].id}" class="btn btn-success" style="width :100%;padding: 10%;">
                                                <i class="bi bi-pencil-square"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
            }
        } else {
            for (let i in Cars) {
                if (size == Cars[i].size_id) {
                listcar += `<div class="col-lg-4 d-flex justify-content-center ">
                            <div class="card" style="width: 25rem;margin-top: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <img src="${listFromDb[i].photo}" alt="mobil" width="100%" height="100%">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>${listFromDb[i].name}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><b>Rp ${rupiah(listFromDb[i].price)} / hari</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p><i class="bi bi-clock"></i>
                                                Updated at ${new Date(listFromDb[i].updatedAt)}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 d-flex justify-content-center">
                                            <button class="btn btn-outline-danger" style="width :100%;padding: 10%;" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                <i class="bi bi-trash3"></i> Delete</button>
                                        </div>
                                        <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                    <div class="modal-body">
                                                        <center><img src="/images/medium-vehicle.svg" alt="">
                                                        <h5 class="mt-3 mb-3"><strong>Menghapus Data Mobil</strong></h5>
                                                        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                            <button type="button" onclick="return deleteCar(${listFromDb[i].id})" class="btn btn-primary">Ya</button>
                                                            <a href="/" class="btn btn-outline-primary" aria-label="Close">Tidak</a>
                                                        </center>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                        <div class="col-lg-6 d-flex justify-content-center">
                                            <a href="/form/${listFromDb[i].id}" class="btn btn-success" style="width :100%;padding: 10%;">
                                                <i class="bi bi-pencil-square"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                 }
            }
        }
            listcars.innerHTML = listcar;
    }

        function rupiah(price) {
            let convertPrice = price.toString();
            let convertString = convertPrice.split("");
            let array = [];
            let temp = 3;

            for (let i = convertString.length - 1; i >= 0; i--) {
                temp -= 1;
                array.unshift(convertString[i]);
                if (temp == 0 && i != 0) {
                    array.unshift(".");
                    temp = 3;
                }
            }
            return array.join("");
        }

        function deleteCar(id) {
            api.delete(`/api/v1/cars/${id}`)
            window.location.reload();
        }

        getListCars()

    </script>
    <%- include('template/footer') -%>
