/* Fixed Navbar */
body {
    font-family: Helvetica;
    background-color: #E5E5E5;
}

.sidenav {
    height: 100%;
    width: 95px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0D28A6;
    overflow-x: hidden;
    padding-top: 20px;
    list-style: none;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: white;
    display: block;
    padding-right: 19px;
}

.sidenav li {
    text-align: center;
    color: white;
    font-size: 0.8em;
}

.sidenav .nav-logo {
    position: absolute;
    height: 34px;
    left: 11px;
    top: 17px;
    background-color: #CFD4ED;
    margin-left: 20px;
    z-index: 2;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Nav Bar */

.navbar {
    box-shadow: 30px;
}

.container-fluid {
    background-color: white;
    height: 70px;
    margin-bottom: 20px;
    position: relative;
}

.navbar-brand {
    position: absolute;
    width: 100px;
    height: 34px;
    left: 24px;
    top: 18px;
    background-color: #CFD4ED;
    margin-left: 100px;
}

/* Fixed Navbar 2 */

.sidenav-2 {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    list-style: none;
}

.sidenav-2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: gray;
    display: block;
    margin-left: 94px;
    text-align: left;
    font-weight: bold;
}

.sidenav-2 li {
    text-align: center;
    color: white;
    font-size: 1em;
    font-family: Helvetica;
    padding-top: 16px;
}

.sidenav-2 .nav-logo {
    position: absolute;
    height: 34px;
    left: 100px;
    top: 17px;
    width: 100px;
    background-color: #CFD4ED;
    margin-left: 20px;
    z-index: 2;
}

.sidenav-2 a:hover {
    color: black;
    background-color: #CFD4ED;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav-2 */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav-2 {
        padding-top: 15px;
    }

    .sidenav-2 a {
        font-size: 18px;
    }
}

/* Content */
.content-wrapper {
    margin-left: 360px;
    font-family: Helvetica;
}

.content-wrapper .button-list a {
    background-color: white;
    color: #CFD4ED;
    font-weight: bold;
}

.content-wrapper .button-list a:hover {
    background-color: #CFD4ED;
    color: #0D28A6;
    font-weight: bold;
    outline-color: #0D28A6;
}

.content-wrapper .car-body {
    font-size: 14px;
    font-family: Helvetica;
    border-radius: 10px;
}

.content-wrapper .car-body a {
    font-family: Helvetica;
}