<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d5bfb13614.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Car Management Dashboard</title>
</head>

<body>

    <!-- Side Bar -->
    <div class="sidenav">
        <!-- Nav Item - Logo -->
        <li class="nav-item mb-5">
            <a class="nav-logo" href="">
                <span></span></a>
        </li>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item mb-2 mt-1">
            <a class="nav-link" href="">
                <i class="bi bi-house-door" style="font-size: 24px;"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Nav Item - Cars -->
        <li class="nav-item mb-2" style="background-color: #CFD4ED;">
            <a class="nav-link" href="">
                <i class="bi bi-truck" style="font-size: 24px;"></i>
                <br>
                <span>Cars</span></a>
        </li>
    </div>


    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="padding-left: 350px;">
                        <button id="sidebarToggle" class="btn sidebarToggle">
                            <i class="bi bi-list" style="font-size: 24px;"></i>
                    </li>
                </ul>
                <div class="nav-form">
                    <form class="d-flex">
                        <input class="form-control" type="search" style="font-size: smaller; border-radius: 0px;"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary"
                            style="color:#0D28A6; font-weight: bold; font-size: smaller; border-radius: 0px;"
                            type="submit">Search</button>
                    </form>
                </div>
                <div class="profile">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../img/profile.png" alt="">
                            Unis Badri
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="sidenav-2 collapse show collapse-horizontal" id="collapseWidthExample">
        <!-- Nav Item - Logo -->
        <li class="nav-item mb-5">
            <a class="nav-logo collapse show collapse-horizontal" id="collapseWidthExample" href="">
                <span></span></a>
        </li>
        <!-- Nav Item - Cars -->
        <li class="nav-item mb-2">
            <a class="nav-link" href="">
                <span>CARS</span></a>
        </li>
        <!-- Nav Item - List Car -->
        <li class="nav-item mb-2">
            <a class="nav-link" style="background-color: #CFD4ED; color: black; font-weight: bold;" href="">
                <span>List Car</span></a>
        </li>
    </div>
